* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #1B1D20; 
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

/*profilecard*/
.profile-card{
    background: #0e1013;
    color: #ffffff;
    border-radius: 10px;
    width: 400px;
    height: 692px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.image-pic{
    border-radius: 10px;
    height: 200px;
}
.profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro h3{
    background-color: #1b1d20;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    margin: 5px;
}
.intro .social{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.icon{
    width: 20px;
}
.social .i{
    display: flex;
    flex-direction: column;
    background-color: #1b1d20;
    margin: 5px;
    padding: 10px;
    border-radius: 10px; 
    transition: 0.5s;
}
.social .instagram:hover{
    transform: scale(1.2);
    border: 1px solid #ff00e1;
}
.social .github:hover{
    transform: scale(1.2);
    border: 1px solid #7b00ff;
}
.social .linkedin:hover{
    transform: scale(1.2);
    border: 1px solid #006eff;
}
.contact-list{
    background-color: #1b1d20;
    padding: 15px;
    border-radius: 10px;
    width: 75%;
}
.contact-list .division{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff33;
    padding: 10px;
}
.contact-list .division .content {
    width: 72%;
    word-wrap: break-word;
}
.Icon{
    display: flex;
    line-height: 40px;
    border-radius: 5px;
    background-color: #1b1d20;
    text-align: center;
}
.dowload{
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: #ffffff;
    background-color: #c0392b;
}
.dowload:active{
    transform: scale(0.9);
    color: #c0392b;
    background-color: #ffffff;
}

/*about*/
.about {
    background-color: #0e1013;
    padding: 2rem 3rem;
    max-width: 900px;
    border-radius: 10px;
    max-height: 600px;
    overflow: hidden scroll;
    margin: 0px 10px;
    scrollbar-width: thin;
    scrollbar-color: #787878 transparent;
}
.about::-webkit-scrollbar {
    width: 8px;
}
.about::-webkit-scrollbar-thumb {
    background-color: #787878;
    border-radius: 8px; 
}
.about::-webkit-scrollbar-track {
    background-color: transparent;
}
.about h2{
    color: white; 
    font-size: 2rem;
    margin: 0.8rem 0;
}
.about h1 {
    color: white;
    margin-bottom: 16px;
    position: relative;
    font-size: 3.5rem;
    display: inline-block;
    width: 100%;
}
.about p {
    color: #787878;
    margin-bottom: 16px 0;
}
.about .work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.work .workbox{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 1rem;
    margin: 1rem;
}
.work .workbox .desc{
    width: 75%;
}
.work .workbox .desc h3{
    color: white;
    margin-bottom: 10px;
    margin: 5px;
}
.work .workbox .desc p{
    margin: 5px;
    /*background-color: #7b00ff;*/
}

.about .skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about .skills .iconSkill{  
    padding: 10px;
    height: 80px;
}

/*section*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #0e1013;
    margin: 16px 0px 0px 0px;
    color: white;
}
section form{
    width: 60%;
}
input[type=text], input[type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  section form input[type=submit]{
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: #ffffff;
    background-color: #c0392b;
}
section form input[type=submit]:active{
    transform: scale(0.9);
    color: #c0392b;
    background-color: #ffffff;
}
section .copyright p {
    margin-top: 50px;
    color: white;
    font-size: 10px;
}

/*Responsive*/
@media(max-width:450px){
    .work .workbox{
        flex-direction: column;
    }
    .work .workbox .desc{
        text-align: center;
        margin: 0 auto;
    }
    .work .workbox .icons{
        margin: 0 auto;
    }
}
@media(max-width:768px){
    .about{
        width: 1005px;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;
    }
    .about h1{
        font-size: 2.2rem;
    }
    .about .work{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4, auto);
    }
}